/* style.css */


.leaf{
    stroke:#000000;
    stroke-width:1pt;
    fill:none;
}

.ghostLeaf{
    stroke:#FFFFFF;
    stroke-width:1pt;
    fill:none;
    fill-opacity:1;
}

.missingLeaf{
    stroke:#FFFFFF;
    stroke-width:1pt;
    fill:none;
    fill-opacity:1;
}


//.missingtLeaf{
//    stroke:#FFFFFF;
//    stroke-width:0.8pt;
//    fill:none;
//    fill-opacity:1;
//    stroke-linecap:round;
//}