@charset "utf-8";
/* CSS Document */

#tblimages {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	background-color: #333;
	text-align: center;
}
body {
	background-color: #333;
}
.bifolimage
{
    height: 670px;
}

a:link, a:visited {
	color: #CCC;
	text-decoration: none;
}
